.container {
  display: grid;
  grid-template-columns: 14rem auto auto auto;
  grid-template-rows: 100vh;
  grid-template-areas: "side main main main";
}

.mainContent__coursearea {
  background-color: #777;
  grid-area: main;
  overflow-y: scroll;
  padding: 0;
}

.unit {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 3px 11px 3px #0000001f;
}

.video {
  width: 100%;
  height: 50vh;
}

.notesArea {
  padding: 1rem;
}

.note {
  width: 100%;
  resize: none;
}
