.myCoursesContainer {
  display: grid;
  grid-template-columns: 14rem auto auto auto;
  grid-template-rows: 100vh;
  grid-template-areas: "side main main main";
}

.mainContent {
  background-color: #777;
  grid-area: main;
  overflow-y: scroll;
  padding: 1rem;
}

.unitList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0;
}

.unitList li {
  list-style-type: none;
}
