.sideBar {
  background-color: #f9f9f9;
  grid-area: side;
  padding: 1rem;
  overflow-y: auto;
}

.sideBar li {
  list-style: none;
}

.children {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0;
  padding: 0;
}
