.sideBar {
  background-color: #eee;
  grid-area: side;
  padding: 1rem;
  overflow-y: scroll;
}

.sideBar li {
  list-style: none;
}

.children {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
}
